{% extends 'InternsOnboardMain/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>
    {% if user.userprofile.usertype == 's' %}
    <br><a href="{% url 'student-status' %}">
    <button style="float: right; background-color: #3d6999;" class="btn btn-info" type="submit">
    View Status </button></a>
    <!-- <h1>{{user.userprofile.user}}</h1> -->
    <h1>Current internships</h1><hr>
    {% for internship in internships %}
    <div class="card border mb-3">
        <div class="card-header">
         <div align="left">
            <form method="POST" action="{% url 'student-apply' %}">
              {% csrf_token %}
             <h2>{{ internship.company_name }}
                    <span style="float: right;"> <h5 class="text-primary">{{ internship.owner }}</h5></span>
            </h2>

            <span style="float: right;">
            <h5>added on: {{ internship.created_at|date:"F d, Y" }}</h5></span>
        </div>
        </div>
        <div class="card-body">
          <h3>{{ internship.description }}
          <span style="float: right;">
          <input type="text" name="c_name" value="{{ internship.company_name }}" style="visibility: hidden;">
          <button type="submit" class="btn btn-success" name="applybtn">Apply</button>
          <button type="submit" class="btn btn-warning" name="rejectbtn">Reject</button>
                </span></h3>
            </div>
        </div>
        </form>

        <br>
   {% endfor %}

    {% elif user.userprofile.usertype == 'ic' %}
        <br>
        <div>Current Internships
            <a href="{% url 'internship-applications' %}">
            <button style="float: right; background-color: #3d6999;" class="btn btn-info" type="submit">
            View applications </button></a>
            <a href="{% url 'internship-Post' %}">
            <button style="float: right; margin-right: 10px;" class="btn btn-info" type="submit">
             Add new internship </button></a>
            </div>
        <br>
      {% for internship in internships %}
      <form method="post" action="{% url 'internship-delete'  %}">
        {% csrf_token %}
        <div class="card border mb-3">
            <div class="card-header">
             <div align="left">
               {{ internship.company_name }}
            <span style="float: right;margin-right: 20px;margin-left:20px">
              <h5>added on: {{ internship.created_at|date:"F d, Y" }}</h5>
              <button style="float: right; margin-top: 10px;" class="btn btn-danger" name='deletebtn' type="submit">Delete</button>
            </span>
            <input type="text" name="c_Description" value="{{ internship.description }}" style="visibility: hidden;">
            <input type="text" name="c_name" value="{{ internship.company_name }}" style="visibility: hidden;">

            </div>
            </div>
                <div class="card-body">
                    <h3>{{ internship.description}}</h3>
                </div>
        </div>
            <br>
       </form>
       {% endfor %}

    {% elif user.userprofile.usertype == 'h' %}
    <h1>Final applicants</h1><hr><br>
    <table class="table table-hover" style="border: 2px solid grey">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Student Name</th>
                <th scope="col">Company Name</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
                {% for finalapplicant in finalApplicant %}
                {% if finalapplicant.accepted %}
                    <tr class="table-success">
                {% else %}
                    <tr class="table-warning">
                {% endif %}
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ finalapplicant.student_Name }}</td>
                    <td>{{ finalapplicant.company_Name }}</td>
                    {% if finalapplicant.accepted %}
                        <td style="color:darkgreen;"><b>Accepted</b></td>
                    {% else %}
                        <td style="color:rgb(179, 28, 28);"><b>Rejected</b></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
    </table>
    {% else %}
    <br><hr>
    <p>
        - Interns-Onboard is an online platform for internship coordinators to
        post internships and make it easier for them to accept/reject student applications.
        <br><br>
        - Students can view the current internship posts and can choose to apply or reject them.
        <br><br>
        - HOD(Head of department) can view list of all the students who have accepted or Rejected
          the internships.
        <hr>
    </p>

    {% endif %}
    </h2>
{% endblock content%}
