{% extends 'InternsOnboardMain/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>
    {% if user.userprofile.usertype == 's' %}
    <br><h1>Current internships</h1><hr>
    {% for internship in internships %}
    <div class="card border mb-3">
        <div class="card-header">
         <div align="left">
            <form method="POST" action="{% url 'student-apply' %}">
              {% csrf_token %}
             <h2>{{ internship.company_name }}</h2>
            <span style="float: right;">
            <h5>added on: {{ internship.created_at|date:"F d, Y" }}</h5></span>
        </div>
        </div>
        <div class="card-body">
          <h3>{{ internship.discription }}
          <span style="float: right;">
          <input type="text" name="c_name" value="{{ internship.company_name }}" style="visibility: hidden;">
          <button type="submit" class="btn btn-success" name="applybtn">Apply</button>
          <button type="submit" class="btn btn-warning" name="rejectbtn">Reject</button>
                </span></h3>
            </div>
        </div>
        </form>

        <br>
   {% endfor %}

    {% elif user.userprofile.usertype == 'ic' %}
        <br>
        <div>Current Internships
            <a href="{% url 'internship-applications' %}">
            <button style="float: right; background-color: #3d6999;" class="btn btn-info" type="submit">
            View applications </button></a>
            <a href="{% url 'internship-Post' %}">
            <button style="float: right; margin-right: 10px;" class="btn btn-info" type="submit">
             Add new internship </button></a>
            </div>
        <br>
      {% for internship in internships %}
        <div class="card border mb-3">
            <div class="card-header">
             <div align="left">
            {{ internship.company_name }}
            <span style="float: right;">
                <h5>added on: {{ internship.created_at|date:"F d, Y" }}</h5></span>
            </div>
            </div>
                <div class="card-body">
                    <h3>{{ internship.discription}}</h3>
                </div>
        </div>
            <br>
       {% endfor %}

    {% elif user.userprofile.usertype == 'h' %}
    <h1>Final applicants</h1><hr><br>
    <table class="table table-hover" style="border: 2px solid grey">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Student Name</th>
                <th scope="col">Company Name</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
                {% for finalapplicant in finalApplicant %}
                {% if finalapplicant.accepted %}
                    <tr class="table-success">
                {% else %}
                    <tr class="table-warning">
                {% endif %}
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ finalapplicant.student_Name }}</td>
                    <td>{{ finalapplicant.company_Name }}</td>
                    {% if finalapplicant.accepted %}
                        <td style="color:darkgreen;"><b>Accepted</b></td>
                    {% else %}
                        <td style="color:rgb(179, 28, 28);"><b>Rejected</b></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
    </table>
    {% else %}
        Show default home page.
    {% endif %}
    </h2>
{% endblock content%}