{% extends 'InternsOnboardMain/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
{% if user.userprofile.usertype == 'ic' %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info">Submit</button>
        </div>
    </form>
{% else %}
  <h3 class="text-danger" style="text-align:center;">Students are not allowed to create test</h3>
{% endif %}
</div>
{% endblock content %}
